
#previewHolder{
	
	margin-left: 0px;
	margin-top: 0px;
	height: 310px;
	width: 310px;	
	border: 0px solid;
        position: relative;

	
}

#previews1{
	
        display: none;
	height: 352px;
	width: 352px;	
        background-color:  #ffffff;
   
  
       
       
}
#previews2{
	
        display: none;
	height: 352px;
	width: 352px;	
        background-color:  #ffffff;
   
  
       
       
}
#previews3{
	
        display: none;
	height: 352px;
	width: 352px;	
        background-color:  #ffffff;
   
  
       
       
}
#previews4{
	
        display: none;
	height: 250px;
	width: 550px;

        background-color:  #ffffff;
   
  
       
       
}



.preview_prod_prin {
	
	
	height: 260px;
	width: 560px;	
	border: 5px solid;
        margin-left: 0px;
        background-color:  #ffffff;
       
        

       
       
}


.preview_prod_prin_1 {
	
	
	height: 360px;
	width: 360px;	
	border: 5px solid;
        margin-left: 15px;
        background-color:  #ffffff;
        

       
       
}

.preview_prod_prin_2 {
	
	
	height: 360px;
	width: 360px;	
	border: 5px solid;
        margin-left: 205px;
        background-color:  #ffffff;
        

       
       
}

.preview_prod_prin_3 {
	
	
	height: 360px;
	width: 360px;	
	border: 5px solid;
        margin-left: 95px;
        background-color:  #ffffff;
        

       
       
}



.step2, .error {
   
 

    
}

.text-error{
    color: red;
}

.imagens{
  

}

.clickea {
    background-image: url("1.jpg");
    width: 200px;
}

#loading-image {


width: 40px;
height: 40px;
  opacity: 0.7;
display: none;
 
}

#loading1 {


  opacity: 0.7;
  background-color: #fff;


}


#load{
     width: 140px;
  height: 140px;
  display: none;
  background-color:  #ffffff;
  position: relative;

}

#loading2 {
  opacity: 0.7;
  background-color: #fff;



 
}
#loading3 {
 opacity: 0.7;
  background-color: #fff;

 
}
#loading4 {
 opacity: 0.7;
  background-color: #fff;


 
}